@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.people-bg {
  object-fit: cover;
  content: url("/women-2.png"); 
}

@media (min-width: 768px) {
  .people-bg {
    object-fit: cover;
    content: url("/wome.png"); 
  }
}
